.btn-edit {
    background-color: transparent;
    color: var(--text-muted);
    border: 1px solid var(--border-color);
    flex: 1;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-edit:hover {
    background-color: var(--bg-light);
    color: var(--text-dark);
    border-color: var(--text-muted);
    text-decoration: none;
}